  <div id="container" class="margin">
    <div id="header" class="blured-container round-container margin">
      <p>web4-191023-1900</p>
      <p>by Afanasyev Kirill Aleksandrovich, group no. P3206</p>
      <p>Variant no. 1900</p>
    </div>
    <div id="main" class="margin">
      <div id="clock-container" class="margin blured-container round-container">
        <form id="time-form" class="margin">
          <p>
            Welcome again! Enjoy current time:
          </p>
        </form>
      </div>
      <div id="login-container" class="margin blured-container round-container select-container">
        <p-tabView>
          <p-tabPanel header="Login" [headerStyle]="{'background-color': '#00000000'}">
            <form name="form" (ngSubmit)="login()" #f="ngForm">
              <div class="margin select-radio-container">
                <label for="l-username">Username</label>
                <input id="l-username" type="text" name="username" [(ngModel)]="model.username" #username="ngModel" required />
              </div>
              <div class="margin select-radio-container">
                <label for="l-password">Password</label>
                <input id="l-password" type="password" name="password" [(ngModel)]="model.password" #password="ngModel" required />
              </div>
              <div class="margin">
                <button>Login</button>
              </div>
            </form>
          </p-tabPanel>
          <p-tabPanel header="Register">
            <form name="form" (ngSubmit)="register()" #f="ngForm">
            <div class="margin select-radio-container">
              <label for="r-username">Username</label>
              <input id="r-username" type="text" name="username" [(ngModel)]="model.username" #username="ngModel" required />
            </div>
            <div class="margin select-radio-container">
              <label for="r-password">Password</label>
              <input id="r-password" type="password" name="password" [(ngModel)]="model.password" #password="ngModel" required />
            </div>
            <div class="margin">
              <button>Register</button>
            </div>
          </form>
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>
    <div id="footer" class="blured-container round-container margin">
      <p>Copyright © Zerumi, 2023. Licensed under <a href="${pageContext.request.contextPath}/LICENSE">ISC license</a>. Plagiarism is prohibited.</p>
    </div>
  </div>

  <router-outlet></router-outlet>
