@media (max-width: 1179px) {
  /* Styles for tablets and smaller screens */
  font-size: 13px;
}

@media (max-width: 703px) {
  /* Styles for phones and smaller screens */
  font-size: 11px;
}


/* not selected */
.p-tabview .p-tabview-nav li .p-tabview-nav-link {
  @media (max-width: 1179px) {
    /* Styles for tablets and smaller screens */
    font-size: 13px;
  }

  @media (max-width: 703px) {
    /* Styles for phones and smaller screens */
    font-size: 11px;
  }
  background: #00000000;
  color: #F0EEEB;
}
/* hover */
.p-tabview .p-tabview-nav li:not(.p-highlight):not(.p-disabled):hover .p-tabview-nav-link {
  @media (max-width: 1179px) {
    /* Styles for tablets and smaller screens */
    width: fit-content;
    height: fit-content;
    font-size: 13px;
  }

  @media (max-width: 703px) {
    /* Styles for phones and smaller screens */
    font-size: 11px;
  }
  background: #00000000;
  border-color: green;
  color: #F0EEEB;
}
/* selected */
.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  @media (max-width: 1179px) {
    /* Styles for tablets and smaller screens */
    font-size: 13px;
  }

  @media (max-width: 703px) {
    /* Styles for phones and smaller screens */
    font-size: 11px;
  }
  background: #00000000;
  border-color: green;
  color: white;
}

.p-tabview .p-tabview-nav {
  width: fit-content;
  height: fit-content;
  background: #00000000;
}

.p-tabview .p-tabview-panels {
  width: fit-content;
  height: fit-content;
  background-color: #00000000;
  color: #F0EEEB;
}

input[type=text], input[type=password] {
  padding: 2px;
  width: fit-content;
  background-color: #d7d7d7;
  border: solid 1px black;
  border-radius: 2px;
}
